/* src/components/NavBar.css */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1ab9cabe;
  padding: 10px 20px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
}

.nav-items {
  display: flex;
  gap: 15px;
}

.nav-items a {
  color: white;
  text-decoration: none;
  /* padding: 8px 16px; */
}

.nav-items a:hover {
  background-color: #4195c5;
}
