/* /src/styles/styles.css */

/* Global styles */
body {
  background-color: lightblue;
  margin: 0px;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

#inner-body {
  margin: 60px;
}

#navbar {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

/* #instances-running {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
} */

#title {
  text-align: center;
}

#displayedinstances {
  display: flex;
  justify-content: center;
}

/* a.displayedinstances {
  text-decoration: none;
} */

.singleInstance {
  border: solid;
  background-color: #b2a8ea;
  margin: 10px;
  padding: 20px;
  text-decoration: none;
  height: 12em;
  width: 20em;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
}

.singleInstance:hover {
  box-shadow: rgb(255, 255, 255);
  background-color: white;
  color: #5d46e2;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
}
.link {
  text-decoration: none;
}

.homebutton {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 30px;
  width: 150px;
  font-weight: bold;
  font-size: 20px;
}

/*-------------------------------------------------*/
.three-body {
  --uib-size: 17px;
  --uib-speed: 0.2s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.photo {
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}