/* /src/styles/styles.css */

/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  text-align: center;
}
